.link {
    display: block;
    margin-bottom: .75rem;
    width: 400px;
    max-width: 80%;
    border: 1px solid currentColor;
    border-radius: 3px;
    padding: .5em;
    text-align: center;
    color: var(--text-over-dark);
    text-decoration: none;
}