.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 20s linear;
  }
}

.header {
  background-color: var(--bg-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-over-dark);
}

.main {
  padding: 2em;
}

.footer {
  background-color: var(--bg-dark);
  padding: 2em;
  text-align: center;
  color: var(--text-over-dark);
}