@import-normalize;

:root {
  --bg-color: var(--bg-dark);
  --bg-dark:  #181E2B; 
  --bg-light: #F4F1FB;
  --text-color: var(--text-over-dark);
  --text-over-dark: #F4F1FB;
  --text-over-light: #181E2B;
  --accent: #B12340;
  --text-over-accent: white;
  --contrast-color: var(--contrast-dark);
  --contrast-dark: #3C5A6F;
  --contrast-light: #A69CAD; 
}

body {
  margin: 0;
  font-family: Raleway, Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}